/* Acc Login */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    line-height: 1.6;
    background-color: #111;
}

#N{
    width: 130px;
    height: auto;
}

.header{
    width: 130px;
    height: auto;
}

.profile h1{
    font-size: 30px;
    font-family: 'Arial';
    color: #ffffff;
    text-align: center;
    margin: 170px 0 0 0;
}

#profile1{
    margin: 30px 30px 0 480px;
}

#profile2{
    margin: 0 30px 0 0;
}

.profileName{
    display: flex;
    font-size:25px;
    font-family: Arial;
    color: #555050;
}

#namep1{
    margin: 10px 0 0 540px;
}
#namep2{
    margin: 10px 0 0 158px;
}

#addp{
    margin: 10px 0 0 150px;
}