.categorie-container, .categorie2-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
}

.trivia {
    display: none;
    width: 95%;
}

.triviaHeader, .triviaValues{
    display: flex;
    gap: 20px;
    align-items: start;
}

h2 {
    text-align: center;
    font-family: Comic sans;
}

button {
    padding: 30px 60px 30px 60px;
    border: 2px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
}

#startButton {
    padding: 5px 15px; /* Daha küçük boyut */
    font-size: 14px;
    background-color: #08376a;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#player-name {
    display: none;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Franklin Gothic Medium';
    font-size: 30px;
    font-weight: bold;
    color: blue;
    text-align: center;
    padding: 10px 20px;
}

#Quiz {
    display: none;
}

body {
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background-image: url('/trivia.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    flex-direction: column;
}

.quiz-container {
    width: 1200px;
    height: 450px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: auto;
}

.Kategorie {
    position: absolute;
    text-align: center;
    top: 15px;
    left: 15px;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #fff;
    color: black;
    border: 2px solid #353575;
    border-bottom: 2px solid #3a3a7a;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(73, 72, 72, 0.2);
}

#question {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-size: 50px;
    font-weight: bold;
    text-align: center;    
    word-wrap: break-word; /* Taşan kelimeleri kır */
    max-width: 95%;   
}

#countdown {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    bottom: 0;
}

.progress-bar {
    position: absolute;
    width: 100%;
    height: 7px;
    border-radius: 5px;
    overflow: hidden;
    bottom: 0;
    display: block;
}

.progress {
    height: 100%;
    background-color: rgb(13, 2, 111);
    transition: width 1s linear;
}

.qr-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.qr-container img {
    width: 150px;
    height: 150px;
    border: 2px solid #333;
    padding: 5px;
    background: white;
}

.qr-container p {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
}